* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: rgb(237, 237, 237);
}

h1 {
	font-size: 16px;
}

h2 {
	font-size: 12px;
}

a {
	text-decoration: none;
}

.bold {
	font-weight: bold !important;
}

.hide {
	display: none !important;
}

.red {
	color: rgb(232, 69, 69) !important;
}

.main-container {
	margin: 0 auto;
	margin-top: 5vw;
	width: 80vw;
	/* height: 100vh; */
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Testimonial card */
.testimonial {
	flex-basis: 32%;
	flex-grow: 1 1 0px;
	background-color: white;
	padding: 12px;
	margin: 8px auto;
	border-radius: 3px;
	-webkit-box-shadow: 3px 4px 8px 0px rgba(232, 232, 232, 1);
	-moz-box-shadow: 3px 4px 8px 0px rgba(232, 232, 232, 1);
	box-shadow: 3px 4px 8px 0px rgba(232, 232, 232, 1);
}

.testimonial>.header {
	display: flex;
}

.testimonial>.header::after {
	content: "\fd77";
	font: normal normal normal 1em/1 "Phosphor";
	font-size: 2.5em;
	position: relative;
	display: inline;
	right: 0px;
	margin: 4px;
}


.testimonial>.header>.avatar-container {
	justify-content: center;
	text-align: center;
	flex-basis: 25%;
}

.testimonial>.header img.avatar {
	width: 80px;
	height: auto;
	border-radius: 50%;
}

.testimonial>.header>.title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-basis: 75%;
}

.testimonial>.header>.title-container .title,
.testimonial>.header>.title-container .subtitle {
	width: 100%;
}

.testimonial>.text {
	margin: 10px auto;
}

/* Boton de añadir testimonio */
.add-button {
	z-index: 2;
	display: inline;
	position: sticky;
	bottom: 1.5em;
	float: right;
	margin-right: 1em;
	padding: 16px 17px;
	color: white;
	border-radius: 50%;
	background-color: rgb(154, 70, 154);
	font-size: 17px;
	transition: all .2s ease-in-out;
	line-height: 14px;
}

.add-button:hover {
	padding: 20px 22px;
	font-size: 20px;
}

/* Modal y formulario */
.backdrop {
	z-index: 3;
	display: block;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	background-color: #00000082;
	backdrop-filter: blur(4px);
}

.modal.modal-form {
	width: 40vw;
	padding: 22px;
	position: relative;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(237, 237, 237);
	border-radius: 3px;
}

.input-wrapper {
	margin: 12px;
}

.input-wrapper:first-child {
	margin-top: 0px;
}

.input-wrapper:last-child {
	margin-top: 0px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
	background: rgba(255, 255, 255, 0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 6px;
	width: 100%;
	background-color: transparent;
	color: #333;
	border: 1px solid #333;
	border-radius: 3px;
	margin-bottom: 8px;
}

label {
	display: block;
	margin-bottom: 8px;
}

label.light {
	font-weight: 300;
	display: inline;
}

.modal .modal-footer {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.button {
	padding: 4px 14px;
	margin: 0px 6px;
	border-radius: 3px;
	border: 1px solid rgb(154, 70, 154);
	background-color: rgb(154, 70, 154);
	color: white;
	transition: all .2s;
}

.button:hover {
	background-color: rgb(178, 22, 178);
	color: white;
}

.button.cancel:hover {
	background-color: rgb(232, 69, 69);
	color: white;
}

.button.outline {
	background-color: transparent;
	color: rgb(154, 70, 154);
}